/*** RESET ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/*
html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}
*/
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*** GENERAL ***/

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

button {
  min-width: 3ch;
  border-style: none;
  cursor: pointer;
}

.deleteBtn,
.editBtn,
.confirmBtn {
  background-color: transparent;
}

.addBtn {
  background-color: #1e81b0;
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0 1rem;
}

#header {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 0;
}

#balance,
#form,
#historyTable {
  padding: 1rem 0;
}

.balanceInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 4rem;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.balanceCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balanceTag {
  font-size: 1rem;
  font-weight: 700;
}

.balanceData {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 12ch;
}

.redText {
  color: rgb(158, 14, 14);
}

.greenText {
  color: rgb(29, 93, 29);
}

.inputForm {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.inputData {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.descriptionInput {
  width: stretch;
  margin-bottom: 0.5rem;
}

.amountInput {
  width: 5ch;
}

.inputConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  border-radius: 5px;
  background-color: lightsalmon;
  margin: 1rem auto;
}
.sectionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0;
  text-align: center;
}

.resultTable {
  border-collapse: collapse;
}

th {
  font-weight: 700;
  text-align: left;
  padding: 0.5rem;
  color: white;
  background-color: #333;
}
tr:nth-child(2n) {
  background: #eee;
}

td {
  text-align: left;
  padding: 0.5rem;
}

.description {
  min-width: min(30ch, 20vh);
}

.amount {
  max-width: 15ch;
  text-align: right;
}

.category,
.date {
  width: 15ch;
  text-align: center;
}
